<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editar Colaborador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  </head>
  <body>
    <h1 class="form-control">Editar o Colaborador {{ colaborador.nome }}</h1>
    <div class="container">
        <form action="{% url 'editar_colaborador' colaborador.id %}" method="POST">
            {% csrf_token %}
            <br>
            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome" value="{{ colaborador.nome }}" class="form-control">
            <br>
            <label for="sobrenome">Sobrenome:</label>
            <input type="text" name="sobrenome" id="sobrenome" value="{{ colaborador.sobrenome }}" class="form-control">
            <br>
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" value="{{ colaborador.email }}" class="form-control">
            <br><br>
            <input type="submit" value="Atualizar Funcionário" class="btn btn-primary">
            <a href="{% url 'novo_colaborador' %}" class="btn btn-secondary">Voltar</a>
        </form>
        <hr>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>